<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Editar Mascotas</title>
<div th:insert="~{fragments/header :: header}"></div>

</head>
<body>
    <body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
        <main>
        <div class="container px-4 py-5">
            <h1 class="pb-2 mb-3 border-bottom">Editar Mascotas</h1>
            <form method="post" th:action="@{'/mascotas/guardar'}" th:object="${mascota}"class="mt-2">
                <input th:value="${mascota.idMascotas}" name="idMascotas" type="hidden" />
                <div class="mb-3">
                    <label for="nombre_mascota" class="form-label">Nombre de la mascota</label>
                    <input th:value="${mascota.nombre_mascota}" name="nombre_mascota" type="text" class="form-control" id="nombre_mascota" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Desparasitado</label>
                    <select class="form-select" th:field="*{desparasitado}">
                        <option value="Sí">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Vacuando</label>
                    <select class="form-select" th:field="*{vacunado}" name="Vacunado" id="Vacunado">
                        <option value="Sí">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <a th:href="@{'/mascotas/listar'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>